.detalle{

}

.card{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 255, 70);
    padding: 10px;
    margin: 10px;
}

.component{
    display: flex;
    align-items: center;
    justify-content: center;
}