.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    height: 100%;

}

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
}
.img{
    width: 3.125rem;
}